<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Off the Beatnik Path">
    <meta name="author" content="Parker Coleman">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://openlayers.org/en/v3.8.2/css/ol.css" type="text/css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="controllers/mapcontroller.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <style>
        #map {
            position: absolute;
            bottom: 0;
            top: 0;
            width: 100%;
            height: 600px;
            right: 5px;
            left: 5px;
        }
    </style>

    <title>Off The Beatnik Path</title>
</head>

<body ng-app="otbp">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Off the Beatnik Path</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-controller="MapController as mapCtrl">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <div class="input-group-md">
                        <input id="startLocInput"
                            type="text"
                            ng-model="mapCtrl.startLoc"
                            placeholder="Starting Location"
                            typeahead-editable='false'
                            uib-typeahead="city as city.city_name + ', ' + city.state_name for city in mapCtrl.getCitiesFromPartial($viewValue)"
                            class="form-control">
                </div>
                <div class="input-group-md">
                        <input id="endLocInput"
                            type="text"
                            ng-model="mapCtrl.endLoc"
                            placeholder="End Location"
                            typeahead-editable='false'
                            uib-typeahead="city as city.city_name + ', ' + city.state_name for city in mapCtrl.getCitiesFromPartial($viewValue)"
                            class="form-control">
                </div>
                <button id="calcRouteButton" type="button" class="btn btn-default"
                        ng-click="mapCtrl.calculateRoute()">Calculate Route</button>
            </div>
        </div>
        <div class="col-md-8">
            <div id="map"></div>
        </div>
        <div class="col-md-2" ng-show="mapCtrl.currentRoute" ng-mouseleave="mapCtrl.stepHoverOut()">
            <div class="list-group">
                <button type="button" class="list-group-item" ng-mouseover="mapCtrl.stepHover(step)" ng-repeat="step in mapCtrl.currentRoute.steps">
                    {{step.next_edge_name}} for {{step.distance.val}} {{step.distance.unit}}</button>
            <div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var map = L.map('map').setView([39, -98], 4);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>
</body>
</html>